node_modules/
npm-debug.log*
public/uploads/*
public/uploads/**/*
!public/uploads/profile/
!public/uploads/profile/.gitkeep
private_uploads/*
private_uploads/**/*
!private_uploads/receipts/
!private_uploads/receipts/.gitkeep
!private_uploads/complaints/
!private_uploads/complaints/.gitkeep
!private_uploads/resident-documents/
!private_uploads/resident-documents/.gitkeep
logs/
.env
.server.pid
