node_modules/
npm-debug.log*
public/uploads/**
!public/uploads/**/
!public/uploads/**/.gitkeep
private_uploads/**
!private_uploads/**/
!private_uploads/**/.gitkeep
logs/
.env
.server.pid
data/homeowner_credentials.csv
